<!-- <br><br>
    <footer class="site-footer custom-border-top">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="block-7">
        <h3 class="footer-heading mb-4">About Us</h3>
        <p>Yarons is a friendly e-Commerce shopping system, including fashion styles from independent creatives around the world..</p>
        </div>
        <div class="block-7">
        <form action="#" method="post">
        <label for="email_subscribe" class="footer-heading">Subscribe</label>
        <div class="form-group">
        <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
        <br>
        <input type="submit" class="btn btn-sm btn-primary" value="Send">
        </div>
        </form>
        </div>
        </div>
        <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
        <div class="row">
        <div class="col-md-12">
        <h3 class="footer-heading mb-4">Quick Links</h3>
        </div>
        <div class="col-md-6 col-lg-4">
        <ul class="list-unstyled">
        <li><a href="#">Sell online</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Shopping cart</a></li>
        <li><a href="#">Store builder</a></li>
        </ul>
        </div>
        <div class="col-md-6 col-lg-4">
        <ul class="list-unstyled">
        <li><a href="#">Mobile commerce</a></li>
        <li><a href="#">Dropshipping</a></li>
        <li><a href="#">Website development</a></li>
        </ul>
        </div>
        <div class="col-md-6 col-lg-4">
        <ul class="list-unstyled">
        <li><a href="#">Point of sale</a></li>
        <li><a href="#">Hardware</a></li>
        <li><a href="#">Software</a></li>
        </ul>
        </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
        <h3 class="footer-heading mb-4">Contact Info</h3>
        <ul class="list-unstyled">
        <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
        <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
        <li class="email"><a href="https://colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6b0e060a02070a0f0f190e18182b0f04060a020545080406">[email&#160;protected]</a></li>
        </ul>
        </div>
        </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
        <p>
 -->


<div class="containers">

<div class="container">
<br>
<br>
<br>

 <div class="row mb-5">
  <div class="col-md">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">MrDOR22</h2>
  <p>"Don't be into trends. Don't make fashion own you, but you decide what you are, what you want to express by the way you dress and the way you live." -- Gianni Versace</p>
  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
  <!-- <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="fa-twitter"></span></a></li>
  <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-facebook"></span></a></li>
  <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li> -->
  <a href="https://twitter.com/explore"><mdb-icon fab icon="twitter" size="2x" class="icon" style="color: white"></mdb-icon></a>
  <a href="https://www.facebook.com/">  <mdb-icon fab icon="facebook" size="2x" class="icon" style="color: rgb(83, 83, 235)"></mdb-icon></a>
      <a  href="https://www.youtube.com/"> <mdb-icon fab icon="youtube" size="2x" class="icon" style="color: rgb(214, 68, 68)"></mdb-icon></a>
  </ul>
  </div>
  </div>
  <div class="col-md">
  <div class="ftco-footer-widget mb-4 ml-md-5">
  <h2 class="ftco-heading-2">Menu</h2>
  <ul class="list-unstyled">
  <li><a routerLink="/home" class="py-2 d-block">Shop</a></li>
  <li><a routerLink="/home" class="py-2 d-block">Home</a></li>
  <li><a routerLink="/about" class="py-2 d-block">About</a></li>
  <li><a routerLink="/contact" class="py-2 d-block">Contact Us</a></li>


  </ul>
  </div>
  </div>
  <div class="col-md-4">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">Help</h2>
  <div class="d-flex">
  <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
  <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
  <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
  <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
  </ul>
  <ul class="list-unstyled">
  <li><a href="#" class="py-2 d-block">FAQs</a></li>
  <li><a href="#" class="py-2 d-block">Contact</a></li>
  </ul>
  </div>
  </div>
  </div>
  <div class="col-md">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">Have a Questions?</h2>
  <div class="block-23 mb-3">
  <ul>
   <li><i class="fa fa-map-marker" style="color: white" aria-hidden="true"></i><span class="text" style="color: white;">  14 Fake St, Haifa, Israel</span></li>
  <br>
  <li><i class="fa fa-phone" style="color: white" aria-hidden="true"></i><span class="text" style="color: white;"> +972-888888 </span></li>

  <br><div class="ce">

    <li style="width: 200px"><i class="fa fa-envelope" style="color: white" aria-hidden="true"></i><span class="text" style="color: white;"> Mrdor22@gmail.com</span></li>
  </div>

  </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>
        Copyright ©2020 All rights reserved | This site is made with <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i> by D.Y

        </p>
    <p>
<br>
<br>
<br>

    </p>
    </div>
    </div>
  </div>
</div>

