
.offcanvas-wrapper {
	position: relative;
	min-height: 100vh;
	/* background-color: grey; */
	z-index: 10;
}

.offcanvas-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	box-shadow: inset -4px 0 17px 0 rgba(0, 0, 0, 0.35);
	opacity: 0;
	z-index: 1;
	overflow-y: auto;
	transition: opacity 0.4s ease-out;
}

.offcanvas-container.active {
	opacity: 1;
}

.offcanvas-header {
	padding: 28px 20px;
	border-bottom: 1px solid black;
}

.offcanvas-header .offcanvas-title {
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.5);
}

.account-link {
	display: table;
	width: 100%;
	padding: 20px 18px;
	transition: background-color .3s;
	border-bottom: 1px solid grey;
	background-color: red;
	text-decoration: none;
}

.account-link .user-ava,
  .account-link .user-info {
	display: table-cell;
	vertical-align: middle;
}

.account-link .user-info {
	padding-left: 8px;
}

.account-link .user-info > .user-name {
	margin-bottom: 2px;
	color: white;
}

.account-link .user-info > span {
	display: block;
}

.account-link:hover {
	background-color: purple;
}

.site-backdrop {
	position: fixed;
	transition: opacity .35s, visibility .35s;
	cursor: pointer;
	visibility: hidden;
}

.no-csstransforms3d .offcanvas-wrapper,
.no-csstransforms3d .navbar, .no-csstransforms3d .topbar {
	transition: left .4s ease-in-out, background-color .2s;
}

.no-csstransforms3d .site-backdrop {
	transition: left .4s ease-in-out, opacity .35s, visibility .35s;
}

.no-csstransforms3d .offcanvas-open .offcanvas-wrapper,
.no-csstransforms3d .offcanvas-open .site-backdrop,
.no-csstransforms3d .offcanvas-open .navbar, .no-csstransforms3d .offcanvas-open .topbar {
	left: 290px;
}

.no-csstransforms3d .offcanvas-open .site-backdrop {
	opacity: .2;
	visibility: visible;
}

.csstransforms3d .offcanvas-wrapper,
.csstransforms3d .navbar, .csstransforms3d .topbar {
	transition: transform .4s ease-in-out, background-color .2s;
}

.csstransforms3d .site-backdrop {
	transition: transform .4s ease-in-out, opacity .35s, visibility .35s;
}

.csstransforms3d .offcanvas-open .offcanvas-wrapper,
.csstransforms3d .offcanvas-open .site-backdrop,
.csstransforms3d .offcanvas-open .navbar, .csstransforms3d .offcanvas-open .topbar {
	transform: translate3d(290px, 0, 0);
}

.csstransforms3d .offcanvas-open .site-backdrop {
	opacity: .2;
	visibility: visible;
}


