<!-- <div class="container" style="display: flex; justify-content: space-between; ;">
    <div class="col-md-4 phone-background">
        <div class="box-info" id="phonen" style="display: block;">
            <i class="fa fa-phone" style="font-size:32px; margin-top: 19px;"></i>     <b><a href="tel:7777777">    +2 392 3929 210</a></b>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box-info">
            <h3><b>Free</b> Delivery</h3>
            on orders over $50
        </div>
    </div>
    <div class="col-md-4">
        <div class="box-info">
            <h3><b>Free</b> Returns</h3>

       </div>
    </div>

     -->

     <section class="feature-area section_gap_bottom_custom">
        <div class="container" >
          <div class="row  ">
            <div class="col-lg-3 col-md-6 animate__animated animate__backInLeft">
              <div class="single-feature">
                <a href="#" class="title">
                    <i class="fa fa-dollar"></i>
                  <h3>Money back gurantee</h3>
                </a>
                <p>Check our refund policy</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 animate__animated animate__backInLeft" >
              <div class="single-feature">
                <a href="#" class="title">
                    <i class="fa fa-truck"></i>


                  <h3>Quick Delivery</h3>
                </a>
                <p>Free, <b>Extremely</b> fast.</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 animate__animated animate__backInRight">
              <div class="single-feature">
                <a href="#" class="title">
                    <i class="far fa-question-circle"></i>
                  <h3>Instant Support</h3>
                </a>
                <p>We're always here to help</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 animate__animated animate__backInRight">
              <div class="single-feature">
                <a href="#" class="title">
                    <i class="fa fa-shield"></i>
                    <h3>Secure payment</h3>
                </a>
                <p>Most secured purchase </p>
              </div>
            </div>
          </div>
        </div>
      </section>
