<!-- <div class="container-fluid dor image-responsive" style="background-color: white;">

    <div class="right">
    <div class="span-info">
        <span>  Subscribe now to get discount coupons & new offers!</span>

    </div>


    <div class="email-input">
     <input type="email" placeholder="Enter your email.." id="input" required>

        <button class="btn btn-primary" style="border-radius: 30px; margin: 0px 0px 0px 7px;">Subscribe</button>

    </div>
    <br>
  <div class="follow-section">
      <br>
      <h3 style="color: white; font-size: 1.5em; text-align: right; margin-right: 275px;">Follow us on</h3>
      </div>
  <br>
      <div class="icons" style="display: inline-block; margin-bottom: 20px;">
        <div class="small-icon-twitter">
            <div class="group-item" style="margin-right:  222px; ">
                <div class="col-xs-2" style="margin-bottom: 12px;">

                   <a href="https://twitter.com/explore"><mdb-icon fab icon="twitter" size="2x" class="icon" style="color: white"></mdb-icon></a>
                    <a href="https://www.facebook.com/">  <mdb-icon fab icon="facebook" size="2x" class="icon" style="color: rgb(83, 83, 235)"></mdb-icon></a>
                        <a  href="https://www.youtube.com/"> <mdb-icon fab icon="youtube" size="2x" class="icon" style="color: rgb(214, 68, 68)"></mdb-icon></a>
                </div>


            </div>
        </div>
      </div>
  </div>
</div> -->



<div class="site-blocks-cover inner-page-cover overlay get-notification aos-init aos-animate"  data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center dor">
    <form class="col-md-7" method="post">
  <h2>Get notified on each updates.</h2>
  <div class="d-flex mb-4">
  <input type="text" class="form-control rounded-0" placeholder="Enter your email address" style="width: 60%; margin-left: 70px;">
  <input type="submit" class="btn btn-light btn-outline-white rounded-0" value="Subscribe">
  </div>
  <p>Subscribe to get fresh new offers & New deals constantly.</p>
  </form>
  </div>
  </div>
  </div>
