



<br>
<br>
<br>

<!-- <div class="container padding-bottom-3x mb-1"> -->
<div class="container-fluid padding-bottom-3x mb-1" *ngFor="let i of (products  | selectedProduct: name)">
  <app-product-title title="{{ i.name }}" [children]="[{title: 'Products', link: '/products'}, {title: i.name}]"></app-product-title>
<br>
  <div class="row">
    <div class="col-md-6" style="left: 10%;" >

  <img [src]="i.imgPath" alt="Image" class="img-fluid" >
  </div>
  <div class="col-md-3">
  <h2 class="text-black">{{i.name}}</h2>


<p>{{i.desc}}</p>

<p>{{i.fullDesc}}</p>
   <div class="row" style="padding-left: 15px;" >
    <p><strong class="text-primary h4 pr-4">{{i.price}}$</strong></p>
    <p><strong><del class="text-primary h4">{{i.oldPrice}}$</del></strong></p>
   </div>

  <div class="mb-1 d-flex">
  <label for="option-sm" class="d-flex mr-3 mb-3">
  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
  </label>
  <label for="option-md" class="d-flex mr-3 mb-3">
  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
  </label>
  <label for="option-lg" class="d-flex mr-3 mb-3">
  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
  </label>
  <label for="option-xl" class="d-flex mr-3 mb-3">
  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
  </label>
  </div>
  <div class="mb-5">
  <div class="input-group mb-3" style="max-width: 120px;">
  <div class="input-group-prepend">
  <button class="btn btn-outline-primary js-btn-minus" type="button" (click)="decreaseAmount()">−</button>
  </div>
  <input type="text" class="form-control text-center" value="{{count}}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  <div class="input-group-append">
  <button class="btn btn-outline-primary js-btn-plus" type="button" (click)="increaseAmount()">+</button>
  </div>
  </div>
  </div>
  <button class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary" (click)="addToCart(i)">Add To Cart</button>
  </div>
  </div>
  </div>

<!-- <div *ngFor = "let p of (products | selectedProduct: id)">
<div class="container" style="display: flex;">
<div id="right">1
  <img [src]="p.imgPath">
</div>
<div id="left">
  <h1>{{p.name}}</h1>
  <h1>{{p.price}}</h1>
</div>
</div>
</div> -->
<br>
<br>
<br>
<br>
<app-footer></app-footer>
