<!-- <app-content></app-content>
<div class="offcanvas-container" id="mobile-menu" [ngClass]="{'active': offService.offcanvasNavigationOpen | async}">
  <h1 (click) = "offService.openOffcanvasNavigation()">open</h1>

  <nav class="offcanvas-menu">
    <ul class="menu">

      <li routerLinkActive="active">
        <span>
          <a routerLink="/home" (click)="onNavigationClick()">
            <span>Home</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/products" (click)="onNavigationClick()">
            <span>Products</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/cart" (click)="onNavigationClick()">
            <span>Cart</span>
          </a>
        </span>
      </li>


    </ul>
  </nav>
</div> -->
